{
  "env": {
    "test": {
      "plugins": [
        "babel-plugin-require-context-hook"
      ],
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
